*, *::before, *::after {
    box-sizing: border-box;
}

body::selection {
    background-color: #198754;
    color: rgba(255, 255, 255, .9);
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

.form-control,
.form-select {
    border-width: 2px;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    box-shadow: unset;
}

header {
    height: 80px;
}

nav ul li a {
    font-weight: 600;
    transition: 0.4;
}

nav ul li a.active {
    color: #198754 !important;
}

nav ul li a:hover {
    color: #198754 !important;
}

.hero {
    min-height: calc(100dvh - 80px);
}

.hero h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.hero-link {
    width: 92px;
    font-weight: 600;
}

.services {
    height: 300px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.partnership form div input:focus,
.partnership form div select:focus,
.partnership form div textarea:focus {   
    border-color:#198754 !important;
}

form .form-check-input:checked {
    background-color: #198754;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #198754 !important;
    transition: 0.4;
}

footer ul li a {
    color: rgba(255, 255, 255, .75);
}